/* Decktop */
@media (max-width: 1440px) {
    .line {
        width: 1000px;
    }
}

@media (max-width: 1320px) {
    .line {
        width: 950px;
    }
}

@media (max-width: 1290px) {
    .line {
        width: 900px;
    }
}

@media (max-width: 1170px) {


    .line {
        width: 840px;
    }

    .newyork {
        top: 60px;
    }

    .newyork__text {
        top: 85px;
    }

    .london {
        top: 17px;
        left: 420px;
    }

    .london__text {
        top: 42px;
    }

    .yokohama {
        top: 72px;
        right: 77px;
    }

    .yokohama__text {
        top: 90px;
    }

    .jakarta {
        bottom: 190px;
        right: 120px;
    }

    .jakarta__text {
        bottom: 230px;
    }
}

@media (max-width: 1140px) {}

@media (max-width: 1024px) {

    .join__cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 50px;
    }

    .join__card {
        max-width: 450px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .photo__num {
        left: 63px;
    }

    .values__cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 50px;
    }

    .values__card {
        max-width: 450px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .photo__num {
        left: 63px;
    }

    .accordion {
        max-width: 650px;
        width: 100%;
    }

    .accordion1 {
        max-width: 650px;
        width: 100%;
    }

}

/* tab */
@media (max-width: 992px) {
    .container {
        max-width: 1000px;
        width: 100%;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 200px;
    }

    .header__desc {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .header__text {
        text-align: center;
        max-width: 574px;
        width: 100%;
    }

    .line {
        display: inline-block;
        width: 15px;
        top: -20px;
        z-index: -10;
        height: 850px;
        left: 245px;
    }

    .apps__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .apps__card {
        display: flex;
        flex-direction: row;
        column-gap: 70px;
        max-width: 768px;
        align-items: center;
        height: 300px;
    }


    .riding {
        display: flex;
        flex-direction: column-reverse;
    }

    .riding__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .riding__title {
        width: 507px;
        margin-top: 30px;
        text-align: center;
    }

    .riding__text {
        max-width: 584px;
        width: 100%;
        text-align: center;
        margin: 40px 0;
    }

    .coming {
        display: flex;
        flex-direction: column-reverse;
    }

    .coming__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .coming__title {
        width: 507px;
        margin-top: 30px;
        text-align: center;
    }

    .coming__text {
        max-width: 584px;
        width: 100%;
        text-align: center;
        margin: 40px 0;
    }

    .payment {
        display: flex;
        flex-direction: column-reverse;
    }

    .payment__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .payment__title {
        width: 507px;
        margin-top: 30px;
        text-align: center;
    }

    .payment__text {
        max-width: 584px;
        width: 100%;
        text-align: center;
        margin: 40px 0;
    }

    .contacts__desc {
        height: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
        padding-bottom: 20px;
    }

    .contacts__title {
        text-align: center;
        padding-top: 40px;
    }

    .logos {
        padding-bottom: 45px;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 200px;
    }

    .wrap {
        left: 97px;
    }

    .mobility {
        display: flex;
        flex-direction: column-reverse;
    }

    .mobility__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobility__title {
        width: 507px;
        margin-top: 30px;
        text-align: center;
    }

    .mobility__text {
        max-width: 584px;
        width: 100%;
        text-align: center;
        margin: 40px 0;
    }

    .living {
        display: flex;
        flex-direction: column-reverse;
    }

    .living__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .living__title {
        width: 507px;
        margin-top: 30px;
        text-align: center;
    }

    .living__text {
        max-width: 584px;
        width: 100%;
        text-align: center;
        margin: 40px 0;
    }


    .our__values {
        display: flex;
        flex-wrap: wrap;
    }

    .values__card {
        max-width: 800px;
        width: 100%;
    }

    .card__text {
        max-width: 457px;
        width: 100%;
        text-align: center;
    }

    .faqs__desc-top {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }

    .accordion {
        max-width: 800px;
        width: 100%;
    }

    .faqs__desc-bottom {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }

    .accordion1 {
        max-width: 800px;
        width: 100%;
    }


    .join {
        display: flex;
        flex-wrap: wrap;
    }

    .join__card {
        max-width: 800px;
        width: 100%;
    }

    .join__text {
        max-width: 457px;
        width: 100%;
        text-align: center;
    }

    .join__title {
        font-size: 48px;
    }

    .applies__card {
        width: 800px;
    }

    .newyork {
        top: 50px;
        left: 130px;
    }

    .newyork__text {
        top: 73px;
        left: 170px;
    }

    .london {
        top: 17px;
        left: 340px;
    }

    .london__text {
        top: 40px;
        left: 390px;
    }

    .yokohama {
        top: 72px;
        right: 77px;
    }

    .yokohama__text {
        top: 90px;
    }

    .jakarta {
        bottom: 200px;
        right: 98px;
    }

    .jakarta__text {
        bottom: 238px;
        right: 150px;
    }

    .about__desc {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .desc-title {
        max-width: 550px;
        width: 100%;
        text-align: center;
    }

    .desc-text {
        max-width: 573px;
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 900px) {

    .line {
        position: absolute;
        left: 160px;
        top: -20px;
    }
}

@media (max-width: 850px) {
    .line {
        left: 105px;
    }

    .newyork {
        top: 40px;
        left: 105px;
    }

    .newyork__text {
        top: 63px;
        left: 150px;
    }

    .london {
        top: 0;
        left: 305px;
    }

    .london__text {
        top: 25px;
        left: 355px;
    }

    .yokohama {
        top: 60px;
        right: 50px;
    }

    .yokohama__text {
        top: 80px;
        right: 88px;
    }

    .jakarta {
        bottom: 200px;
        right: 75px;
    }

    .jakarta__text {
        bottom: 238px;
        right: 130px;
    }
}

/* mobile */
@media(max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .header__list {
        position: absolute;
        left: 0;
        height: 682px;
        top: 75px;
        width: 300px;
        background-color: #333A44;
        z-index: 10;
        display: flex;
        flex-direction: column;
        padding: 24px 32px;
        transform: translateX(-400px);
        transition: transform 0.5s ease-out;
    }

    .burger {
        display: block;
    }

    .header__links {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 55px;
        row-gap: 24px;
        top: 80px;
    }

    .header__link {
        font-size: 25px;
        color: white;

    }

    .desc {
        height: 90vh;
    }

    .nav-btn {
        position: absolute;
        top: 600px;
        left: 55px;
    }

    .header__title {
        max-width: 450px;
        width: 100%;
    }

    .header__text {
        max-width: 311px;
        width: 100%;
    }

    .line {
        display: none;
    }

    .apps__cards {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .apps__card {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        text-align: center;
    }

    .apps__card-title {
        max-width: 311px;
        width: 100%;

    }

    .apps__card-text {
        max-width: 311px;
        width: 100%;
    }

    .riding__text {
        width: 311px;
    }

    .coming__text {
        width: 311px;
    }

    .payment__text {
        width: 311px;
    }

    .contacts {
        height: 50vh;
    }
    .apple{
        padding: 2px 7px;
        width: 130px;
    }
    .icon{
        transform: translateY(10px);
    }
    .icon__title{
        font-size: 17px;
    }
    .icon__text{
        font-size: 10px;
    }

    .google{
        padding: 10px;
        width: 150px;
    }
  
    .icon__title{
        font-size: 17px;
    }
    .icon__text{
        font-size: 10px;
    }
    .contacts__title {
        max-width: 400px;
        margin-top: 50px;
    }
  

    .nav {
        height: 50vh;
        display: flex;
        flex-direction: column;
        row-gap: 85px;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

    }

    .footer__logo {
        margin: unset;
    }

    .about__main-title {
        display: flex;
        justify-content: center;
    }

    .about-title {
        width: 150px;
    }

    .mobility__text {
        width: 311px;
    }

    .living__text {
        width: 311px;
    }

    .living {
        padding-bottom: 0;
    }

    .learning {
        padding-bottom: 50px;
    }

    .card__text {
        width: 311px;
    }

 

    .applies__card {
        width: 300px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .map__img {
        max-width: 800px;
        width: 100%;
        background-position: top;
    }

    .shape {
        display: none;
    }

    .oval {
        display: block;
        width: 40px;
        height: 40px;
    }

    .oval1 {
        position: absolute;
        top: 80px;
        left: 320px;
    }

    .oval2 {
        position: absolute;
        top: 120px;
        left: 150px;
    }

    .oval3 {
        position: absolute;
        top: 20px;
        right: 50px;
    }

    .oval4 {
        position: absolute;
        bottom: 180px;
        right: 120px;
    }

    .rectangle {
        display: block;
        width: 311px;
    }

    .map {
        height: 130vh;
    }

    .map {
        position: relative;
    }

    .newyork__text {
        display: none;
    }

    .london__text {
        display: none;
    }

    .jakarta__text {
        display: none;
    }

    .yokohama__text {
        display: none;
    }

    .desc-text {
        width: 311px;
    }

    .riding__img {
        width: 311px;
    }

    .riding__title {
        font-size: 32px;
    }

    .coming__img {
        width: 311px;
    }

    .coming__title {
        width: 311px;
        font-size: 32px;
    }

    .payment__img {
        width: 311px;
    }

    .payment__title {
        width: 311px;
        font-size: 32px;
    }

    .contacts {
        height: 70vh;
        display: flex;
        align-items: center;
    }

    .mobility__img {
        width: 311px;
    }

    .mobility__title {
        width: 311px;
        font-size: 32px;
    }

    .living__img {
        width: 311px;
    }

    .living__title {
        width: 311px;
        font-size: 32px;
    }

    .tittle {
        font-size: 32px;
    }

    .accordion {
        width: 311px;
    }

    .accordion1 {
        width: 311px;
    }

    .accordion__title {
        width: 300px;
        font-size: 18px;
    }

    .accordion__title1 {
        width: 300px;
        font-size: 18px;
    }

    .desc-title {
        width: 311px;
        text-align: center;
        font-size: 27px;
    }

    .logos {
        padding: 0;
    }

    .contacts__desc {
        height: 300px;
    }
    .contacts__title{
        margin: 0;
    }
    .contacts{
        padding: 0;
    }
}

@media (max-width: 734px) {}

@media (max-width: 684px) {}

@media (max-width: 667px) {}

/* mobile < 576  */
@media (max-width: 576px) {
    .oval2 {
        top: 40px;
        left: 100px;
    }

    .image {
        height: 200px;
        width: 470px;
    }

    .oval1 {
        top: 30px;
        left: 240px;
    }

    .oval3 {
        top: 50px;
        right: 180px;
    }

    .oval4 {
        top: 100px;
        right: 200px;
    }

    .map__img {
        object-fit: cover;
        width: 600px;
    }
}

@media (max-width: 480px) {
    .oval2 {
        top: 90px;
        left: 90px;
    }

    .oval1 {
        top: 65px;
        left: 200px;
    }

    .image {
        height: 280px;
    }

    .oval3 {
        top: 80px;
        right: 45px;
    }

    .oval4 {
        top: 150px;
        right: 65px;
    }

    .map__img {
        object-fit: cover;
        width: 460px;
    }
}

@media (max-width: 412px) {
    .oval2 {
        top: 65px;
        left: 80px;
    }

    .oval1 {
        top: 40px;
        left: 170px;
    }

    .image {
        height: 200px;
        width: 340px;
    }

    .oval3 {
        top: 50px;
        right: 105px;
    }

    .oval4 {
        top: 100px;
        right: 100px;
    }

    .map__img {
        object-fit: cover;
        width: 400px;
    }
}

@media (max-width: 375px) {}

@media (max-width: 320px) {}